In [2]:
#Assingment for data structures.

In [3]:
#1.What are data structures, and why are they important?
#Ans. Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage
# information based on its characteristics and intended use. 
# They are important due to their lot of characteristics some of them are
# they are like caontainers which hold our data and determines how we interact with them, improves efficiency of our peogramm, simplfy data management and
# manipulation and memory usage.

In [4]:
#2 Explain the difference between mutable and immutable data types with examples?
#Ans. mutable data are those data which can be modified using various operations such as lists, disctionaries and sets while immutable data are those 
#data which can be modified using operations such as tuple, strings and numbers.

In [5]:
#3. What are the main differences between lists and tuples in Python
#Ans. main difference between lists and tuple is that list is mutable data set while tuple is immutale data set i.e. lists can be modififed, altered 
# using operations and functions whioe tuple has fix value and cannot be modified or altered.

In [6]:
#4.  Describe how dictionaries store data?
#Ans. Dictionaries stores data in key:value format, means every key saved in dictionay has a defined values which may be changed using definite
# operation or function.

In [7]:
#5.  Why might you use a set instead of a list in Python?
#Ans. set stores data in unique manner that means their is no duplicate entry in set while in list can have duplicate data entry.

In [8]:
#6. What is a string in Python, and how is it different from a list?
#Ans. sting in python is an data structure used to store data in quotes or double quotes. they are primarly used to represt text. Strings are immutable
# data type i.e. value of string cannot be modified once defined using different operations. list is mutable data type i.e. can be modofied using
# different operations. List can store no. of strings which string is just single value data.

In [9]:
#7. How do tuples ensure data integrity in Python?
#Ans. tuples is one of data type used to store data. Tuples are immutable data types which can not be modified using dufferent operation or functions.
#this property of tuple (immutability) ensures the data integrity which means data cannot be modified  once it defined.

In [10]:
#8.  What is a hash table, and how does it relate to dictionaries in Python?
#Ans.  hash table is an data type which stores data in form of key:value structure. An hash table is closely related to dictionaries in python as 
# when we use dictonay in python it is using hash table as its base.

In [11]:
#9. Can lists contain different data types in Python?
#Ans. Lists can contains different data ttypes in python as it is heterogeneous in nature means can can store different types of data such as strigs,
#integers, float and complex numbers.

In [12]:
#10. Explain why strings are immutable in Python?
#Ans. Strings are immutable in python because their value cannot be changed using any operations.

In [13]:
#11. What advantages do dictionaries offer over lists for certain tasks?
#Ans. Dictionaries stores data in key:value data type that means any key stored in dictonary has its values defined while list only stors data in normal
# form.

In [14]:
#12.  Describe a scenario where using a tuple would be preferable over a list?
#Ans. tuple are immutables data structures while lista are mutable data strucutures. That means tuples cannot be modofied wile kists can be modified.
# tuples can be preferred where data integrity is to be maintained such as to store password and user names etc.

In [15]:
#13.  How do sets handle duplicate values in Python?
#Ans.  Sets in pythons only stores unique value that means any dublicate value which is made is disregraded.

In [16]:
#14.  How does the “in” keyword work differently for lists and dictionaries?
#Ans. "in" keyword works for lists as it refers to a single data while same "in" keyword in dictoronaries refers to both the key as well as its defined
# value.

In [17]:
#15. Can you modify the elements of a tuple? Explain why or why not?
#Ans. No, tuples cannot be modified. That means tuples once created cannot be changed or modified. As tuple is predefined in python programming
# language their chacateritics of immutability is pre defined in language.

In [18]:
#16. What is a nested dictionary, and give an example of its use case?
#Ans. Nested dictionary is data structure which contains dictionary inside a dictonary. Nested disctonary is used  where complex is stored such as '
#JSON data file or emplyee informations and many more.

In [19]:
#17. Describe the time complexity of accessing elements in a dictionary?
#Ans. ???

In [20]:
#18. In what situations are lists preferred over dictionaries?
#Ans. lists are preferred over dictionaries where a oredred sequence oda data is required as lists content ae indexed while dictonaries are used to
# store data in key:value forms.

In [22]:
#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
#Ans. dictnories are considered unordered as the data is stored in key:value form that means thier is no such indexzation of data that affects the
# retrival of data as data can be only accsed as value of stored key not as indexaation.

In [23]:
#20.  Explain the difference between a list and a dictionary in terms of data retrieval?
#Ans. Data which is stored in list can be accsed easily as data is stored with indexzation while tha data stored in dictonary is stored in form
# of key:value sturucure that means data can be accesed only in form of value of stored key not as indexzation.

In [24]:
#Practical Questions.

In [30]:
#1. Write a code to create a string with your name and print it?
"Shubham"
a= "Shubham"
print(type(a))
print(a)

<class 'str'>
Shubham

In [32]:
#2. Write a code to find the length of the string "Hello World"?
a = "Hello World"
len(a)

11

In [35]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming"?
"Python Programming"
a = "Python Programming"
a[:3]

'Pyt'

In [38]:
#4. Write a code to convert the string "hello" to uppercase?
"hello"
a = "hello"
a.upper()

'HELLO'

In [47]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"?
"I like apple"
a = "I like apple"
a.replace("apple", "orange")

'I like orange'

In [50]:
#6. Write a code to create a list with numbers 1 to 5 and print it?
a = list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [57]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [59]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [62]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
a = ['a', 'b', 'c', 'd']
a[1]

'b'

In [66]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50]?
a = [10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

In [68]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it?
a = (100, 200, 300)
type(a)

tuple

In [70]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').?
a = ('red', 'green', 'blue', 'yellow')
a[-2]

'blue'

In [76]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).?
a = (10, 20, 5, 15)
b = min(a)
print(b)

5

In [78]:
#14. . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?
a = ('dog', 'cat', 'rabbit')
a.index("cat")

1

In [82]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ("mango", "orange", "banana")
if "kiwi" in a:
    print("kiwi is in tuple")
else:
    print("kiwi is not in tuple")

kiwi is not in tuple

In [84]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.?
my_set = {"a", "b", "c"}
print(type(my_set))
print(my_set)

<class 'set'>
{'c', 'b', 'a'}

In [110]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.?
a = {1, 2, 3, 4, 5}
b = (1, 2, 3, 4, 5)
for b in list(a):
    a.remove(b)
print(a)

set()

In [111]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.?
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [113]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.?
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)

{1, 2, 3, 4, 5}

In [116]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?
a = {1, 2, 3}
b = {2, 3, 4}
a.intersection(b)

{2, 3}

In [118]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?
a = {"name":"shubham", "age":27, "city":"karad"}
print(a)

{'name': 'shubham', 'age': 27, 'city': 'karad'}

In [121]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
a = {'name': 'John', 'age': 25}
b = {"country": "USA"}
a.update(b)
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [130]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
a = {'name': 'Alice', 'age': 30}
print(a["name"])

Alice

In [134]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop("age")
print(a)

{'name': 'Bob', 'city': 'New York'}

In [137]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
a = {'name': 'Alice', 'city': 'Paris'}
if "city" in a:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [140]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.?
a = ("shubham", "yadav", "karad")
b = ["shubham", "yadav", "karad"]
c = {"name":"shubham", "surname":"yadav", "city":"karad"}
print(a)
print(b)
print(c)

('shubham', 'yadav', 'karad')
['shubham', 'yadav', 'karad']
{'name': 'shubham', 'surname': 'yadav', 'city': 'karad'}

In [154]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
import random

a = random.sample(range(1, 100), 5)

print(a)

[4, 59, 94, 32, 5]

In [157]:
#28.  Write a code to create a list with strings and print the element at the third index?
a = ["shubham", "yadav", "karad", "maharashtra", "india"]
a[3]

'maharashtra'

In [162]:
#29. Write a code to combine two dictionaries into one and print the result.?
a = {"shubham":"name", "yadav":"surname", "karad":"city"}
b = {"age":27, "gender":"male"}
c = a | b
print(c)

{'shubham': 'name', 'yadav': 'surname', 'karad': 'city', 'age': 27, 'gender': 'male'}

In [165]:
#30. Write a code to convert a list of strings into a set.?
list_string = ["shubham","yadav","karad"]
set(list_string)

{'karad', 'shubham', 'yadav'}